.button {
  font-size: 16px;
  background-color: var(--primary);
  border-radius: 7px;
  border: none;
  color: white;
  padding: 0.8rem 2rem;
  cursor: pointer;
}

@media (max-width: 640px) {
  .button {
    font-size: 14px;
    padding: 0.6rem 1.2rem;
  }
}
