.LogoContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Logo {
  width: 32px;
  height: 32px;
}

.LogoText {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
