.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.normal {
  position: relative;
  background-color: var(--gray-background);
  color: black;
}

.navLinks {
  display: flex;
  gap: 3rem;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0.4rem 0;
}

.normalLink {
  color: black;
}

.activeHome{
    border-bottom: 2px solid white;
}

.active {
  border-bottom: 2px solid black;
}

.navButtons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navButton {
  font-size: 16px;
  background-color: var(--primary);
  border-radius: 7px;
  border: none;
  color: white;
  padding: 0.8rem 2rem;
  cursor: pointer;
  text-transform: uppercase;
}

.secondaryButton {
  background-color: var(--dark-bg);
}

.navMenu {
  display: none;
}

@media (max-width: 896px) {
  .navLinks {
    display: none;
  }

  .navMenu {
    display: block;
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 640px) {
  .navLogo {
    width: 24px;
    height: 24px;
  }

  .navLogoText {
    font-size: 1rem;
  }

  .navButtons {
    gap: 0.8rem;
  }

  .navButton {
    font-size: 14px;
    padding: 0.6rem 1.2rem;
  }

  .navMenu {
    display: block;
    width: 28px;
    height: 28px;
  }
}
